# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson


'.source.fomo':
  'hint':
    'prefix': 'h'
    'body': '=\t\t〈 $1 〉\n\t$2'
  'universal quantification':
    'prefix': 'uq'
    'body': '(∀$1 | $2 : $3) $4'
  'universal quantification (range true)':
    'prefix': 'uqt'
    'body': '(∀$1 |: $2) $3'
  'existential quantification':
    'prefix': 'eq'
    'body': '(∃$1 | $2 : $3) $4'
  'existential quantification (range true)':
    'prefix': 'eqt'
    'body': '(∃$1 |: $2) $3'
  'comprehension':
    'prefix': 'c'
    'body': '{$1 | $2 : $3} $4'
  'seperator':
    'prefix': 'sep'
    'body':  '\n------------------------------\n\n'




  'negation':
    'prefix': 'n'
    'body': '¬'
  'equivalence':
    'prefix': 'e'
    'body': '≡ '
  'nonequivalence':
    'prefix': 'ne'
    'body': '≢ '
  'differs from':
    'prefix': 'neq'
    'body': '≠ '
  'disjunction':
    'prefix': 'o'
    'body': '⋁ '
  'conjunction':
    'prefix': 'a'
    'body': '⋀ '
  'implication':
    'prefix': 'i'
    'body': '⇒ '
  'follows from':
    'prefix': 'f'
    'body': '⇐ '
  'does not imply':
    'prefix': 'ni'
    'body': '⇏ '
  'does not follow from':
    'prefix': 'nf'
    'body': '⇍ '
  'gets':
    'prefix': 'g'
    'body': '≔ '
  'star':
    'prefix': 'star'
    'body': '★'
  'at least':
    'prefix': 'le'
    'body': '≤ '
  'at most':
    'prefix': 'ge'
    'body': '≥ '
  'for all':
    'prefix': 'for'
    'body': '∀'
  'there exists':
    'prefix': 'ex'
    'body': '∃'
  'element of':
    'prefix': 'el'
    'body': '∈ '
  'not element of':
    'prefix': 'nel'
    'body': '∉ '
  'proper subset':
    'prefix': 'sub'
    'body': '⊂ '
  'subset':
    'prefix': 'sube'
    'body': '⊆ '
  'proper superset':
    'prefix': 'sup'
    'body': '⊃ '
  'superset':
    'prefix': 'supe'
    'body': '⊇ '
  'not proper subset':
    'prefix': 'nsub'
    'body': '⊄ '
  'not subset':
    'prefix': 'nsube'
    'body': '⊈ '
  'not proper superset':
    'prefix': 'nsup'
    'body': '⊅ '
  'not superset':
    'prefix': 'nsupe'
    'body': '⊉ '
  'union':
    'prefix': 'un'
    'body': '∪ '
  'intersection':
    'prefix': 'in'
    'body': '∩ '
  'empty set':
    'prefix': 'es'
    'body': '∅'
  'Type: Integer':
    'prefix': 'tz'
    'body': 'ℤ'
  'Type: Natural':
    'prefix': 'tn'
    'body': 'ℕ'
  'Type: Rational':
    'prefix': 'tq'
    'body': 'ℚ'
  'Type: Real':
    'prefix': 'tr'
    'body': 'ℝ'
  'Type: Boolean':
    'prefix': 'tb'
    'body': '𝔹'
  'end of proof':
    'prefix': '//'
    'body': '╱╱\n\n'
